@font-face {
    font-family: HelloHeadline;
    src: url(FontsFree-Net-Hello-Headline-W00-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelloHeadline;
}

body {
    height: 100vh;
    background-color: #88CAFC;
}

.title {
    height: 15%;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    width: calc(459px * 2);
    background-color: gray;
    padding: 10px;
    box-shadow: 0 0 15px 1px black;
    display: flex;
    justify-content: space-between;
}

.essentials {
    width: calc(calc(19px * 15 * 2)  + calc(2 * 15px));
    height: 100%;
}

.function_bar {
    width: 100%;
    height: calc(19px * 2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.key {
    box-shadow: 0 0 5px 1px black;
    font-family: sans-serif;
    font-weight: bold;
    width: calc(19px * 2);
    height: calc(19px * 2);
    background-color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 4px solid rgb(200, 200, 200);
    border-top: 4px solid rgb(200, 200, 200);
    border-right: 4px solid rgb(150, 150, 150);
    border-bottom: 4px solid rgb(150, 150, 150);
}

.empty {
    opacity: 0;
}

.main_keys {
    width: 100%;
    height: calc(100% - calc(19px * 2) - 8px);
}

.row {
    display: flex;
    justify-content: space-between;
}

.double {
    width: calc(19px * 2 * 2);
}

.one-half {
    width: calc(19px * 2 * 1.5);
}

.one-three-q {
    width: calc(19px * 2 * 1.75);
}

.one-q {
    width: calc(19px * 2 * 1.25);
}

.space {
    width: calc(19px * 2 * 6.25);
}

.two-q {
    width: calc(19px * 2 * 2.25);
}

.two-three-q {
    width: calc(19px * 2 * 2.75);
}

.function_keys_arrows {
    width: calc(calc(19px * 3 * 2)  + calc(2 * 2px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.function_bar {
    align-self: flex-start;
}

.arrow_keys, .function_keys {
    display: grid;
    grid-template-columns: repeat(3, calc(calc(19px * 2)  + calc(2 * 1px)));
}

.keys_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.media_bar {
    display: flex;
    justify-content: space-between;
    width: calc(calc(19px * 4 * 2)  + calc(2 * 3px));
}

.numpad {
    width: calc(calc(19px * 4 * 2)  + calc(2 * 2px));
}

.numbers {
    display: grid;
    grid-template-columns: repeat(4, calc(calc(19px * 2)  + calc(2 * 1px)));
    grid-template-rows: repeat(5, calc(calc(19px * 2)  + calc(2 * 1px)));
}